<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FBPost_Swift23.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF10E7D81DBB55AC00E275A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF10E7EC1DBB55AD00E275A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF10E7F71DBB55AD00E275A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
